<section class="home">
  <div class="home-container container">
    <div class="home-body">
      <div class="home-col home-col--gap">
        <h1 class="home-title def-title">
          Safe Multi <br> <span class="def-title__hl">Cryptocurrency</span> <br> Wallet
        </h1>
        <p class="home-text def-text">
          Facilitate seamless transactions, accrue earnings, and acquire Bitcoin, Ethereum, and a myriad of other digital assets with utmost professionalism and security.
        </p>
        <div class="home-bottom">
          <button class="home-button button">
            <span class="button-text">
              Create wallet
            </span>
          </button>
          <div class="home-badget">
            <img src="../img/home/badgeIcon.webp" alt="badgeIcon">
          </div>
        </div>
      </div>
      <div class="home-col">
        <img src="../img/home/homeVector.webp" alt="vectorImage">
      </div>
    </div>
  </div>
</section>
