<section class="start">
  <div class="start-container container">
    <div class="start-loading">
      <img src="../img/loadingIcon.svg" alt="loadingIcon">
    </div>
    <div class="start-container container">
      <div class="start-body">
        <div class="start-header col-header">
          <h5 class="start-title def-title">
            Master Your Cryptocurrency
          </h5>
          <p class="start-text def-text">
            Empower yourself with cutting-edge tools and features, designed for optimal efficiency and security, available exclusively on our web platform. Navigate the complexities of the crypto world with ease and confidence.
          </p>
        </div>
        <a href="#" class="start-button button">
          <span class="button-text">
            Get Started
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
