.start {
  margin-bottom: 100px;
  &-container {
    position: relative;
  }
  &-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  &-loading {
    position: absolute;
    right: 110px;
    height: 100px;
    top: -50px;
    img {
      height: inherit;
    }
  }
  &-text {
    max-width: 946px;
    margin: 0 auto;
    align-self: center;
  }
}

@include tablet {
  .start {
    &-loading {
      display: none;
    }
  }
}
