// --------------- hex to rgba mixin ---------------
@function HexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}
:root {
// --------------- default global variable ---------------
  --body-font-size: 16px;
  --content-width: 1184px;
  --content-width-mode: 1214px;
  --container-offset: 15px;
  --container-w: 1276px;
  --delay-transition: cubic-bezier(.25,.75,.5,1.25);
  --sections-gutter: 3rem;
  --banner-spacing: 200px;
// --------------- default JS variable ---------------
// --------------- default JS tablet variable ---------------
// --------------- default JS small-tablet variable ---------------
// --------------- font - sizes -------------------------
  --t-xxs: 10px;
  --t-xs: 12px;
  --t-sm: 14px;
  --t-base: 16px;
  --t-md: 18px;
  --t-lg: 20px;
  --t-xl: 24px;
  --t-xxl: 26px;
  --t-xxl-2: 28px;
  --t-xxl-3: 32px;
  --t-xxl-4: 36px;
// --------------- default scroll variable ---------------
// --------------- default slect variable ---------------
// --------------- default font-family variable ---------------
  --ff: 'Gilroy', sans-serif;
// --------------- default text color variable ---------------
  --cl-1: #{HexToRGB(#000000)};
  --cl-2: #{HexToRGB(#ffffff)};
  --cl-footer-text: #{HexToRGB(#83808B)};
  --cl-y: #{HexToRGB(#FFD119)};
  --bg-body: #{HexToRGB(#ffffff)};
  --cl-bl: #{HexToRGB(#1925E8)};
  --bottom-image-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
// --------------- default background cl variable ------------
// --------------- default border cl variable ----------------
// --------------- gradient background cl variable -----------
  --button-gradient: linear-gradient(180deg, #FFD119 0%, #FF9C00 100%);
// ---------------default background modal variable-----------

  &.dark-theme {
    --bg-body: #{HexToRGB(#091016)};
    --cl-1: #{HexToRGB(#ffffff)};
    --cl-2: #{HexToRGB(#000000)};
    --cl-footer-text: #{HexToRGB(#B8B0CD)};
    --bottom-image-gradient: linear-gradient(180deg, rgba(9, 16, 22, 0.00) 0%, #091016 100%);
  }
}

.dark-theme {
  .bubble {
    opacity: .25;
  }
}
